.events .container{
    text-align: left;
}
.events{
    padding-top: 150px;
}
.events {
    background: url(https://images.unsplash.com/photo-1591152231320-bc7902cf852e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80) center center no-repeat;
}